footer {
  background: black;
  color: white;
  padding: 20px 0;
  .wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: $mainFont;
  }

  .disclaimer {
    font-size: 0.7rem;
    max-width: 600px;
    margin: 0 auto;
  }

    a {
      color: white;

      &:hover, &:focus, &:active {
        color: $mainColour;
      }
    }


}